<div class="row">
    <div class="p-t-15 p-b-15">
            
        <!-- Update email -->
        <div class="row">
                <form id="form-editemail" name="editemail" class="p-t-15" role="form" novalidate>
                    <!-- START Form Control-->
                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : editemail.email.$invalid && !editemail.email.$pristine }">
                        <label>Email</label>
                        <div class="controls">
                            <input type="email" name="email" placeholder="newemail@example.com" class="form-control input-lg" ng-model="form.email" required>
                        </div>
                    </div>
                    <label class="error" for="email" ng-show="editemail.email.$invalid && !editemail.email.$pristine">Provide a valid email.</label>

                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : editemail.password.$invalid && !editemail.password.$pristine }">
                        <label>Current Password</label>
                        <div class="controls">
                            <input type="password" name="password" class="form-control input-lg" ng-model="form.password" required>
                        </div>
                    </div>
                    <label class="error" for="password" ng-show="editemail.password.$invalid && !editemail.password.$pristine">Password must match your current password</label>

                    <!-- END Form Control-->
                    <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-disabled="editemail.$invalid" ng-click="updateEmail()">Update Email</button>
                </form>
                <pre>{{form | json}}</pre>
        </div>

        <hr />

        <!-- Change Password -->
        <div class="row p-t-30">
            <form id="form-editpassword" name="editpassword" class="p-t-15" role="form" novalidate>
                            
                <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : editpassword.password.$invalid && !editpassword.password.$pristine }">
                    <label>Current Password</label>
                    <div class="controls">
                        <input type="password" name="password" class="form-control input-lg" ng-model="form.password" required>
                    </div>
                </div>
                <label class="error" for="password" ng-show="editpassword.password.$invalid && !editpassword.password.$pristine">Password must match your current password</label>

                <div class="row">
                    <div class="col-sm-12">
                        <div pg-form-group="" class="form-group form-group-default" ng-class="{ 'has-error': editpassword.newpassword.$invalid && !editpassword.newpassword.$pristine }">
                            <label>New Password</label>
                            <input type="password" name="newpassword" placeholder="Minimum of 6 Charactors" class="form-control input-lg" ng-minlength="6" ng-model="form.newpassword"
                                    required="required">
                        </div>
                        <label class="error ng-hide" for="pass" ng-show="editpassword.newpassword.$invalid && !editpassword.newpassword.$pristine">The password field is required.</label>
                        <label class="error ng-hide" for="pass" ng-show="editpassword.newpassword.$error.minlength">Password should have at least 6 characters</label>
                        <pre>{{editpassword.newpassword.$error|json}}</pre>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div pg-form-group="" class="form-group form-group-default" ng-class="{ 'has-error': editpassword.confirmnewpassword.$error.match }">
                            <label>New Password</label>
                            <input type="password" name="confirmnewpassword" placeholder="Enter your new password again" class="form-control input-lg" 
                                    ng-model="form.confirmnewpassword" required="required" data-match="form.newpassword">
                        </div>
                        <label class="error ng-hide" for="pass" ng-show="editpassword.confirmnewpassword.$invalid && !editpassword.confirmnewpassword.$pristine">The password field is required.</label>
                        <label class="error ng-hide" for="pass" ng-show="editpassword.confirmnewpassword.$error.match">This field must match the new password</label>
                    </div>
                    <pre>{{editpassword.confirmnewpassword.$error|json}}</pre>
                </div>

                <!-- END Form Control-->
                <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-disabled="" ng-click="updatePassword()">Update Password</button>
            </form>
            <pre>{{editpassword|json}}</pre>
        </div>

    </div>
</div>