<div class="row">
    <div class="p-t-15 p-b-15">
            
        <!-- Update phonenumber -->
        <div class="row">
                <form id="form-editphonenumber" name="editphonenumber" class="p-t-15" role="form" novalidate>
                    <!-- START Form Control-->
                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : editphonenumber.phonenumber.$invalid && !editphonenumber.phonenumber.$pristine }">
                        <label>Phone Number</label>
                        <div class="controls">
                            <input type="text" name="phonenumber" placeholder="+234 XXX XXX XXXX" class="form-control input-lg" ng-model="form.phonenumber" ng-pattern="/^\+\d{3}\s?\d{3}\s?\d{3}\s?\d{4}$/" required>
                        </div>
                    </div>
                    <label class="error" for="phonenumber" ng-show="editphonenumber.phonenumber.$invalid && !editphonenumber.phonenumber.$pristine">Provide a valid phone number.</label>

                    <div pg-form-group class="form-group form-group-default" ng-class="{ 'has-error' : editphonenumber.password.$invalid && !editphonenumber.password.$pristine }">
                        <label>Current Password</label>
                        <div class="controls">
                            <input type="password" name="password" class="form-control input-lg" ng-model="form.password" required>
                        </div>
                    </div>
                    <label class="error" for="password" ng-show="editphonenumber.password.$invalid && !editphonenumber.password.$pristine">Password must match your current password</label>

                    <!-- END Form Control-->
                    <button class="btn btn-primary btn-cons m-t-10" type="submit" ng-disabled="editphonenumber.$invalid" ng-click="updatePhonenumber()">Update Phone Number</button>
                </form>
                <pre>{{form | json}}</pre>
        </div>
    </div>
</div>