/*

* Override Pages default styles or create your own styles here

*/

.fw100{
    font-weight: 100;
}

.fw300{
    font-weight: 300;
}

.overlay-search-location
{
    font-size: 50px;
    height: 100px;
    letter-spacing: -1.925px;
    line-height: 100px;
    width:100%;
    padding-left: 0!important;
}


.inline-headers h1,  .inline-headers h2, .inline-headers h3,  .inline-headers h4, .inline-headers h5,  .inline-headers h6 {
    display: inline;
}

.vertical-center {
  float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}